GOOSE_PROVIDER: xai
GOOSE_MODEL: grok-code-fast-1
extensions:
  developer:
    available_tools: []
    bundled: true
    description: Code editing and shell access
    display_name: Developer Tools
    enabled: true
    name: developer
    timeout: 5
    type: builtin
