# License-Identifier: HGL
# Copyright (C) The Usecode Authors (see AUTHORS)

.git
**/.cache
**/.venv
**/.tmp
**/.env
**/build
**/dist
**/node_modules
**/target
third_party
**/zig-out
**/.zig-cache
**/*.img
