deb [arch=amd64 signed-by=/etc/apt/trusted.gpg.d/microsoft.gpg] https://packages.microsoft.com/ubuntu/{{ ansible_facts['distribution_version'] }}/prod {{ ansible_facts['distribution_release'] }} main
