[engine]
helper_binaries_dir = ["{{ blueprint_user_home }}/.local/bin", "/usr/local/libexec/podman","/usr/local/lib/podman", "/usr/libexec/podman","/usr/lib/podman", "/usr/libexec/qemu", "/usr/libexec"]
manifest_format = "v2s2"
