[Desktop Entry]
Version=1.0
Type=Application
Name=JetBrains Rider
Icon={{ blueprint_home }}/rider/tar.gz_/rider_{{ pkg_versions.rider.version }}/JetBrains Rider-{{ pkg_versions.rider.version }}/bin/rider.svg
Exec={{ blueprint_user_home }}/.local/bin/rider %f
Comment=Integrated Development Environment
Categories=Development;IDE;
Terminal=false
StartupWMClass=rider
